<div class="wrapper left-gradient-border">
    <h2><span class="capital">P</span>anel kontrolny</h2>
    <ul>
        <li><a href="administracja">Filmy</a></li>
        <li id="screeningsBtn">Seanse</li>
        <li>
            <ul id="screenings" style="--cities: <%= cinemas.length %>;">
                <% for (const cinema of cinemas) { %> 
                    <li><a href="seanse/<%= cinema.city %>"><%= cinema.city %></a></li>
                <% } %>
            </ul>
        </li>
    </ul>
</div>