<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="stylesheets/error.css">
</head>
<body>
    <header>
        <%- include('../partials/header')  %> 
    </header>
    <main>
        <div id="screen">
            <h2><%= error.status %></h2>
        </div>
        <p><%= message %></p>
    </main>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/error.js"></script>
</body>
</html>