<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="stylesheets/events.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="wrapper">
            <div class="tile big">
                <h2>Lorem ipsum</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, eum a dolores quisquam culpa blanditiis commodi non unde consectetur nobis velit earum, dolore, sit sapiente quis vel nisi ipsa excepturi?</p>
                </div>
            </div>
            <div class="tile small">
                <h2>Lorem ipsum</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, eum a dolores quisquam culpa blanditiis commodi non unde consectetur nobis velit earum, dolore, sit sapiente quis vel nisi ipsa excepturi?</p>
                </div>
            </div>
            <div class="tile small">
                <h2>Lorem ipsum</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, eum a dolores quisquam culpa blanditiis commodi non unde consectetur nobis velit earum, dolore, sit sapiente quis vel nisi ipsa excepturi?</p>
                </div>
            </div>
            <div class="tile big">
                <h2>Lorem ipsum</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, eum a dolores quisquam culpa blanditiis commodi non unde consectetur nobis velit earum, dolore, sit sapiente quis vel nisi ipsa excepturi?</p>
                </div>
            </div>
        </div>
    </main>
    <script src="javascripts/main.js"></script>
</body>
</html>