<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="stylesheets/signin.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h2><span class="capital">R</span>ejestracja</h2>
            <form action="signup" method="post">
                <div>
                    <label for="login">Login</label>
                    <input type="text" name="login" id="login" required>
                </div>
                <div>
                    <label for="email">Adres email</label>
                    <input type="email" name="email" id="e-mail" required>
                </div>
                <div>
                    <label for="password">Hasło</label>
                    <input type="password" name="password" id="password" minlength="8" required>
                </div>
                <div>
                    <label for="passwordCheck">Powtórz hasło</label>
                    <input type="password" name="passwordCheck" id="passwordCheck" required>
                </div>
                <button type="submit" class="cta-1">Zarejestruj</button>
            </form>
            <a href="login.html">Masz już konto? Zaloguj się <span>tutaj!</span></a>
        </section>
        <%- include('../partials/snackbar') %>
    </main>
    <script src="javascripts/main.js"></script>
</body>
</html>