main {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

main header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main header * {
    font-size: 1rem;
}

main header select {
    width: 200px;
    height: 40px;
    padding-left: 40px;
    padding-right: 15px !important;
    border: none;
    border-bottom: 2px solid #fff;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

main header select option {
    color: #222;
}

main header div#show-descriptions {
    display: flex;
    align-items: center;
}

main header div#show-descriptions label {
    margin-right: 10px;
}

main header div#show-descriptions input {
    transform: scale(.85);
}

main div.wrapper > h2 {
    text-align: center;
    margin-top: 100px;
}

main article a.info div div.rating {
    font-size: 1.3rem;
    margin-left: 50px;
}

main article a.info div div.rating svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

main article div.screenings {
    width: 30%;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

main article div.screenings a {
    width: 80px;
    height: 55px;
    flex-direction: column;
    margin: 0 15px;
    transition: background-color .2s ease-in-out;
}

main article div.screenings a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main article div.screenings a * {
    margin: 0;
    text-align: center;
    color: #fff;
}

main article div.screenings a p.hour {
    font-weight: 400;
    font-size: 0.95rem;
}

main article div.screenings a p.type {
    font-size: 0.55rem;
    white-space: nowrap;
}

main article.description img {
    width: 100px;
    margin-left: calc(5% - (65px / 4));
}

main article.description div.info p.description {
    height: auto;
    margin-top: 15px;
}