main  {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

main section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section h2 {
    margin-top: 0;
    --font-size: 2.5rem;
}

main section form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

main section form div label {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
}

main section form div input {
    width: 300px;
    border-radius: 2rem;
    font-size: 1.1em;
    padding: .7rem 1rem;
    transition: 100ms;
    outline: 2px solid rgba(255, 0, 0, 0);
    transition-property: outline-color, outline-offset;
}

main section form div input.error {
    outline: 2px solid red;
    outline-offset: 3px;
}

main section form button {
    padding: .9rem 1.9rem;
    border-radius: 3rem;
    font-size: 1.3rem;
    margin: 40px auto;
}

main section a {
    color: #fff;
}

main section a span {
    text-decoration: underline;
}