main {
    --arrow-size: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

main div.movie {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    transition: left 1s ease-in-out;
}

main div.movie.left {
    left: -100%;
}

main div.movie.center {
    left: 0;
}

main div.movie.right {
    left: 100%;
}

span.arrow {
    --arrow-distance: 75px;
    z-index: 100;
}

main div.title {
    min-width: 500px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 60%;
    margin-left: 200px;
}

main div.title h2 {
    color: #fff;
    font-size: 6rem;
    font-weight: 900;
    line-height: 6rem;
    text-transform: uppercase;
    margin: 0;
    transform: skew(-5deg);
}

main div.title div {
    min-width: 100%;
    height: 50px;
    margin-top: 10px;
}

main div.title a {
    height: 100%;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

main div.title a {
    border-color: #fff;
}

main div.title a.cta-1 {
    width: 30%;
    margin-right: 20px;
    mix-blend-mode: lighten;
    box-sizing: border-box;
    background-color: #fff;
}

main div.title a.cta-2 {
    width: calc(70% - 25px);
    box-sizing: border-box;
    color: #fff;
}

main div.movie img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}